<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <div class="alert alert-app-level">
  </div>
  <header class="header header-6">
      Smak
  </header>
  <div class="content-container">
      <div class="content-area">
        <form clrForm>
            <clr-input-container>
                <label>Name</label>
                <input clrInput formControlName="name" />
            </clr-input-container>
            <clr-input-container>
                <label>Bin</label>
                <input clrInput formControlName="room" />
            </clr-input-container>
          </form>
        <button class="btn btn-primary">New</button>
      </div>
  </div>
</div>


<router-outlet></router-outlet>
